html, body
  padding: 0
  margin: 0

  *
    box-sizing: border-box

.d-flex
  display: flex

.flex-column
  flex-direction: column

.align-center
  align-items: center

.justify-center
  justify-content: center

.justify-space-between
  justify-content: space-between

.flex-fill
  flex: 1 1 auto

.h-full
  height: 100%

.w-full
  width: 100%

.w-half
  width: 50%

.fill-page
  height: 100vh

.relative
  position: relative