
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap')

html
  font-size: 16px

body
  font-family: Kanit, sans-serif
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke: .2px
  -moz-osx-font-smoothing: grayscale
  letter-spacing: .03em

h1
  font-weight: 100
  font-size: 3rem
  margin: 0
  line-height: 1.3

h2
  font-weight: 200
  font-size: 1.6rem
  margin: 0
  line-height: 1.3

h3
  font-weight: 200
  margin: 0
  line-height: 1.3

.text-center
  text-align: center

.f-bold
  font-weight: bold