<template lang="pug">
.avatar
  slot
</template>

<style lang="sass" scoped>
.avatar
  background: white
  box-shadow: 0 0 2px rgba(0,0,0,.8)
  border-radius: 50%
  overflow: hidden
  padding: 6px
  width: 36px
  height: 36px
  display: flex
  place-items: center
</style>
