<template lang="pug">
.relative
  .panel-behind-1
  .panel-behind-2
  .notifications-panel
    header.d-flex.justify-space-between
      div
        time 9:30 AM
        .title Your Morning Summary
      .notifications-counter 10
    .stories
      .w-half
        img(src='../assets/wallpaper-1.jpg')
        .f-bold Extending Vue Router Links in Vue 3
        p The #[code &lt;router-link&gt;] tag is a great tool for navigating between different pages of your...
      .w-half
        img(src='../assets/wallpaper-2.jpg')
        .f-bold Build Advanced Components in Vue 3
        p In the third major release of Vue js, we have seen many new features and...
    hr
    footer.more-updates.d-flex.justify-space-between
      div
        .f-bold More updates
        p Nuxt.js, Vite, Vuetify.js, Nest.js and TypeScript
      .d-flex.align-center.dense-icons
        avatar: icon-typescript
        avatar: icon-nuxt
        avatar: icon-nest
        avatar: icon-vue
</template>

<script setup>
import IconVue from './icons/icon-vue.vue';
import IconNuxt from './icons/icon-nuxt.vue';
import IconNest from './icons/icon-nest.vue';
import IconTypescript from './icons/icon-typescript.vue';
import Avatar from './avatar.vue';
</script>

<style lang="sass" scoped>
.panel-behind-1,
.panel-behind-2
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  height: 100%
  transform-origin: bottom
  backdrop-filter: blur(6px)
  border-radius: 40px

.panel-behind-1
  background: rgba(255,255,255,.2)
  transform: translate(0, 20px) scale(.85)
  width: 85%

.panel-behind-2
  background: rgba(255,255,255,.3)
  transform: translate(0, 10px) scale(.95)
  width: 95%

.notifications-panel
  backdrop-filter: blur(6px)
  margin: 30px 12px 0
  padding: 8px 16px 12px
  width: calc(100% - 24px)
  background: rgba(255,255,255,.4)
  border-radius: 20px
  text-shadow: 1px 1px 1px rgba(255,255,255,.3)

  > header
    font-weight: bold

    time
      font-size: .83rem

    .title
      font-size: 1rem

  > *:not(header)
    font-size: .75rem
    letter-spacing: .01em
    line-height: 1.2

  > .stories
    display: flex
    gap: 8px

    img
      border-radius: 8px
      margin: 12px 0 8px
      width: 100%
      object-fit: cover
      aspect-ratio: 16 / 10

  > hr
    margin: 12px 0
    border: none
    border-bottom: 1px solid rgba(0,0,0,.4)

  > .more-updates

    > *:first-child
      width: 65%

    > .dense-icons
      flex-direction: row-reverse

      > *:not(:last-child)
        margin-left: -16px

  p
    margin-top: .4em
    margin-bottom: 0

.notifications-counter
  color: #fff
  text-align: center
  width: 32px
  height: 32px
  padding: 4px 0 0 3px
  margin: 6px -2px 0 0
  letter-spacing: .1em
  background: rgba(0,0,0,.4)
  border-radius: 50%
  text-shadow: none
  font-weight: 200
</style>