<template lang="pug">
.phone-outline
  img.background-image(src='../assets/wallpaper-7.webp')
  .phone-content.d-flex.flex-column.align-center
    .status-bar
      icon-network(size='16')
      icon-wifi(size='16')
      icon-battery(size='16')
    .unlock.text-center
      icon-unlock(size='36')
      h1 {{ currentTime }}
      span {{ currentDate }}
    notifications-panel

  .quick-actions.d-flex.justify-space-between.w-full
    avatar: icon-flashlight
    avatar: icon-camera
</template>

<script setup>
import IconUnlock from './icons/icon-unlock.vue';
import IconNetwork from './icons/icon-network.vue';
import IconWifi from './icons/icon-wifi.vue';
import IconBattery from './icons/icon-battery.vue';
import IconFlashlight from './icons/icon-flashlight.vue';
import IconCamera from './icons/icon-camera.vue';
import Avatar from './avatar.vue';
import NotificationsPanel from './notifications-panel.vue';

import { ref } from 'vue';

const now = new Date();
const currentTime = ref(`${now.getHours().toString().padStart(2, '0')}:${now.getMinutes().toString().padStart(2,'0')}`);
const currentDate = ref(new Intl.DateTimeFormat('en-US', { weekday: 'long', month: 'long', day: 'numeric' }).format(now));
</script>

<style lang="sass" scoped>
.phone-outline
  width: 350px
  height: 720px
  background: black
  border: 14px solid
  border-radius: 60px
  overflow: hidden
  position: relative
  box-shadow: 0 0 13px rgba(0,0,0,.8)

  &:before
    content: ''
    position: absolute
    top: 0
    left: 30%
    width: 40%
    height: 20px
    box-shadow: 0 0 2px rgba(0,0,0,.8)
    border-radius: 0 0 16px 16px
    background: black
    z-index: 2

  &:after
    content: ''
    position: absolute
    top: 0
    width: 100%
    height: 100%
    box-shadow: inset 0 0 2px rgba(0,0,0,.8)
    border-radius: 45px

.background-image
  position: absolute
  object-fit: cover
  width: 100%
  height: 100%
  z-index: 1

.status-bar
  position: absolute
  width: 100%
  z-index: 2
  text-align: right
  display: flex
  justify-content: flex-end
  color: #fff
  padding: 4px 32px

  > *
    margin: 0 2px

.phone-content
  z-index: 2
  position: relative

.unlock
  color: #fff
  text-shadow: 1px 1px 1px rgba(0,0,0,.7)
  margin-top: 50px

.quick-actions
  z-index: 2
  position: absolute
  bottom: 0

  > .avatar
    background: rgba(0,0,0,.25)
    box-shadow: none
    color: #fff
    padding: 8px
    margin: 40px 45px
</style>
