<template lang="pug">
svg(:style="`width: ${size}px; height: ${size}px`" viewBox="0 0 24 24")
  path(fill='currentColor' d='M9,10L6,5H18L15,10H9M18,4H6V2H18V4M9,22V11H15V22H9M12,13A1,1 0 0,0 11,14A1,1 0 0,0 12,15A1,1 0 0,0 13,14A1,1 0 0,0 12,13Z')
</template>

<script setup>
const props = defineProps({
  size: {
    type: Number,
    default: 24
  }
});
</script>