<template lang="pug">
.d-flex.justify-center.align-center.fill-page
  phone
</template>

<script setup>
import Phone from './components/phone.vue';
</script>

<style lang="sass">
@import './styles/typography'
@import './styles/layout'
</style>
